.container {
  margin: 3% var(--default-margin-container);
}

.card {
  background: #fff;
  height: 80px;
  border-radius: 10px;
  width: 90%;
  border-radius: var(--card-border-radius);
  // margin: 0 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PrevArrow,
.NextArrow {
  color: #3d3c3c;
  background-color: #f4f4f4;
  border: 1px solid #c4c4c4;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  transition-duration: 0.5s;
  top: 20%;
}

.PrevArrow {
  left: -5%;
  &:hover {
    background-color: var(--primary-color);
    color: var(--text-white-color);
    transition-duration: 0.5s;
  }
}

.NextArrow {
  right: -4%;
  &:hover {
    background-color: var(--primary-color);
    color: var(--text-white-color);
    transition-duration: 0.5s;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    margin: 3% var(---margin-container-table);
  }
  .PrevArrow,
  .NextArrow {
    width: 40px;
    height: 40px;
  }
  .PrevArrow {
    top: 40%;
    left: -10%;
  }

  .NextArrow {
    top: 40%;
    right: -10%;
  }
}
