.container {
  margin: 3% var(--default-margin-container);
}

.wapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .card {
    width: 48%;
    height: 200px;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    .img_wapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 570px;
      height: 100%;
      padding: 15px;
      border: var(--border-dotted) dotted rgba(251, 128, 32, 0.23);
      .img {
        border-radius: 30px;
      }
    }
  }
}

.card_content {
  margin: 0 3%;
  font-weight: 800;
  & h3 {
    color: var(--primary-color);
    font-size: 2.5rem;
  }
  & p {
    margin-top: 5%;
    font-size: 1.4rem;
    text-align: justify;
  }
}

.card_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link_card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0eded;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    background-color: var(--primary-color);
    color: #fff;
    transition: 0.5s;
  }
}

.icon {
  width: 20px;
}

.card:hover .img_wapper {
  // border-color: var(--primary-color);
  // animation: rotate 2s linear infinite;
  animation: animate 3s infinite;
  // animation-fill-mode: both;
}

@keyframes animate {
  0% {
    border-top: var(--border-dotted) dotted var(--primary-color);
  }
  25% {
    border-right: var(--border-dotted) dotted var(--primary-color);
  }
  50% {
    border-bottom: var(--border-dotted) dotted var(--primary-color);
  }

  100% {
    border-left: var(--border-dotted) dotted var(--primary-color);
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    margin: 5% var(---margin-container-table);
  }
  .wapper {
    flex-direction: column;
    .card {
      width: 100%;
    }
  }
}
